@each $category, $colors in $pec-colors {
	@each $shadeName, $color in $colors {
		$name: "#{$category}-#{$shadeName}";
		@if $shadeName == "default" {
			$name: $category;
		}
		.bg-#{$name} {
		    background: map-get($color, base) !important;
		}
		
		.bg-#{$name}-opacity {
		    background: rgba(map-get($color, base), 0.8) !important;
		}
		
		.bg-hover-#{$name}:hover {
		    background: map-get($color, base) !important;
		}
		
		.font-#{$name} {
		    color: map-get($color, base) !important;
		}
		
		.bg-font-#{$name} {
		    color: map-get($color, font) !important;
		}
		
		.border-#{$name} {
		    border-color: map-get($color, base) !important;
		}
		
		.border-top-#{$name} {
		    border-top-color: map-get($color, base) !important;
		}
		
		.border-bottom-#{$name} {
		    border-bottom-color: map-get($color, base) !important;
		}
		
		.border-left-#{$name} {
		    border-left-color: map-get($color, base) !important;
		}
		
		.border-right-#{$name} {
		    border-right-color: map-get($color, base) !important;
		}
	}
}