$pec-color-text-default: rgba(255,255,255,0.87);
$pec-color-text-dark: rgba(0,0,0,0.87);
$pec-color-text-light-strong: rgba(255,255,255);

$pec-colors: (
	white:	(
		default: (base: #ffffff, font: $pec-color-text-dark)
	),
	red: (
		50: (base: #FFEBEE, font: $pec-color-text-dark),
		100: (base: #FFCDD2, font: $pec-color-text-dark),
		200: (base: #EF9A9A, font: $pec-color-text-dark),
		300: (base: #E57373, font: $pec-color-text-dark),
		400: (base: #EF5350, font: $pec-color-text-dark),
		500: (base: #F44336, font: $pec-color-text-dark),
		default: (base: #F44336, font: $pec-color-text-dark),
		600: (base: #E53935, font: $pec-color-text-dark),
		700: (base: #D32F2F, font: $pec-color-text-dark),
		800: (base: #C62828, font: $pec-color-text-dark),
		900: (base: #B71C1C, font: $pec-color-text-dark),
		A100: (base: #FF8A80, font: $pec-color-text-dark),
		A200: (base: #FF5252, font: $pec-color-text-dark),
		A400: (base: #FF1744, font: $pec-color-text-dark),
		A700:(base: #D50000, font: $pec-color-text-dark)
	),
	pink: (
		50: (base: #FCE4EC, font: $pec-color-text-dark),
		100: (base: #F8BBD0, font: $pec-color-text-dark),
		200: (base: #F48FB1, font: $pec-color-text-dark),
		300: (base: #F06292, font: $pec-color-text-dark),
		400: (base: #EC407A, font: $pec-color-text-dark),
		500: (base: #E91E63, font: $pec-color-text-dark),
	default: (base: #E91E63, font: $pec-color-text-dark),
		600: (base: #D81B60, font: $pec-color-text-dark),
		700: (base: #C2185B, font: $pec-color-text-dark),
		800: (base: #AD1457, font: $pec-color-text-dark),
		900: (base: #880E4F, font: $pec-color-text-dark),
		A100: (base: #FF80AB, font: $pec-color-text-dark),
		A200: (base: #FF4081, font: $pec-color-text-dark),
		A400: (base: #F50057, font: $pec-color-text-dark),
		A700: (base: #C51162, font: $pec-color-text-dark)
	),
	purple: (
		50: (base: #F3E5F5, font: $pec-color-text-dark),
		100: (base: #E1BEE7, font: $pec-color-text-dark),
		200: (base: #CE93D8, font: $pec-color-text-dark),
		300: (base: #BA68C8, font: $pec-color-text-dark),
		400: (base: #AB47BC, font: $pec-color-text-dark),
		500: (base: #9C27B0, font: $pec-color-text-dark),
		default: (base: #9C27B0, font: $pec-color-text-dark),
		600: (base: #8E24AA, font: $pec-color-text-dark),
		700: (base: #7B1FA2, font: $pec-color-text-dark),
		800: (base: #6A1B9A, font: $pec-color-text-dark),
		900: (base: #4A148C, font: $pec-color-text-dark),
		A100: (base: #EA80FC, font: $pec-color-text-dark),
		A200: (base: #E040FB, font: $pec-color-text-dark),
		A400: (base: #D500F9, font: $pec-color-text-dark),
		A700: (base: #AA00FF, font: $pec-color-text-dark)
	),
	deep-purple: (
		50: (base: #EDE7F6, font: $pec-color-text-dark),
		100: (base: #D1C4E9, font: $pec-color-text-dark),
		200: (base: #B39DDB, font: $pec-color-text-dark),
		300: (base: #9575CD, font: $pec-color-text-dark),
		400: (base: #7E57C2, font: $pec-color-text-dark),
		500: (base: #673AB7, font: $pec-color-text-dark),
		default: (base: #673AB7, font: $pec-color-text-dark),
		600: (base: #5E35B1, font: $pec-color-text-dark),
		700: (base: #512DA8, font: $pec-color-text-dark),
		800: (base: #4527A0, font: $pec-color-text-dark),
		900: (base: #311B92, font: $pec-color-text-dark),
		A100: (base: #B388FF, font: $pec-color-text-dark),
		A200: (base: #7C4DFF, font: $pec-color-text-dark),
		A400: (base: #651FFF, font: $pec-color-text-dark),
		A700: (base: #6200EA, font: $pec-color-text-dark)
	),
	indigo: (
		50: (base: #E8EAF6, font: $pec-color-text-dark),
		100: (base: #C5CAE9, font: $pec-color-text-dark),
		200: (base: #9FA8DA, font: $pec-color-text-dark),
		300: (base: #7986CB, font: $pec-color-text-dark),
		400: (base: #5C6BC0, font: $pec-color-text-dark),
		500: (base: #3F51B5, font: $pec-color-text-dark),
		default: (base: #3F51B5, font: $pec-color-text-dark),
		600: (base: #3949AB, font: $pec-color-text-dark),
		700: (base: #303F9F, font: $pec-color-text-dark),
		800: (base: #283593, font: $pec-color-text-dark),
		900: (base: #1A237E, font: $pec-color-text-dark),
		A100: (base: #8C9EFF, font: $pec-color-text-dark),
		A200: (base: #536DFE, font: $pec-color-text-dark),
		A400: (base: #3D5AFE, font: $pec-color-text-dark),
		A700: (base: #304FFE, font: $pec-color-text-dark)
	),
	blue: (
		50: (base: #E3F2FD, font: $pec-color-text-dark),
		100: (base: #BBDEFB, font: $pec-color-text-dark),
		200: (base: #90CAF9, font: $pec-color-text-dark),
		300: (base: #64B5F6, font: $pec-color-text-dark),
		400: (base: #42A5F5, font: $pec-color-text-dark),
		500: (base: #2196F3, font: $pec-color-text-dark),
		default: (base: #2196F3, font: $pec-color-text-dark),
		600: (base: #1E88E5, font: $pec-color-text-dark),
		700: (base: #1976D2, font: $pec-color-text-dark),
		800: (base: #1565C0, font: $pec-color-text-dark),
		900: (base: #0D47A1, font: $pec-color-text-dark),
		A100: (base: #82B1FF, font: $pec-color-text-dark),
		A200: (base: #448AFF, font: $pec-color-text-dark),
		A400: (base: #2979FF, font: $pec-color-text-dark),
		A700: (base: #2962FF, font: $pec-color-text-dark)
	),
	light-blue: (
		50: (base: #E1F5FE, font: $pec-color-text-dark),
		100: (base: #B3E5FC, font: $pec-color-text-dark),
		200: (base: #81D4FA, font: $pec-color-text-dark),
		300: (base: #4FC3F7, font: $pec-color-text-dark),
		400: (base: #29B6F6, font: $pec-color-text-dark),
		500: (base: #03A9F4, font: $pec-color-text-dark),
		default: (base: #03A9F4, font: $pec-color-text-dark),
		600: (base: #039BE5, font: $pec-color-text-dark),
		700: (base: #0288D1, font: $pec-color-text-dark),
		800: (base: #0277BD, font: $pec-color-text-dark),
		900: (base: #01579B, font: $pec-color-text-dark),
		A100: (base: #80D8FF, font: $pec-color-text-dark),
		A200: (base: #40C4FF, font: $pec-color-text-dark),
		A400: (base: #00B0FF, font: $pec-color-text-dark),
		A700: (base: #0091EA, font: $pec-color-text-dark)
	),
	cyan: (
		50: (base: #E0F7FA, font: $pec-color-text-dark),
		100: (base: #B2EBF2, font: $pec-color-text-dark),
		200: (base: #80DEEA, font: $pec-color-text-dark),
		300: (base: #4DD0E1, font: $pec-color-text-dark),
		400: (base: #26C6DA, font: $pec-color-text-dark),
		500: (base: #00BCD4, font: $pec-color-text-dark),
		default: (base: #00BCD4, font: $pec-color-text-dark),
		600: (base: #00ACC1, font: $pec-color-text-dark),
		700: (base: #0097A7, font: $pec-color-text-dark),
		800: (base: #00838F, font: $pec-color-text-dark),
		900: (base: #006064, font: $pec-color-text-dark),
		A100: (base: #84FFFF, font: $pec-color-text-dark),
		A200: (base: #18FFFF, font: $pec-color-text-dark),
		A400: (base: #00E5FF, font: $pec-color-text-dark),
		A700: (base: #00B8D4, font: $pec-color-text-dark)
	),
	teal: (
		50: (base: #E0F2F1, font: $pec-color-text-dark),
		100: (base: #B2DFDB, font: $pec-color-text-dark),
		200: (base: #80CBC4, font: $pec-color-text-dark),
		300: (base: #4DB6AC, font: $pec-color-text-dark),
		400: (base: #26A69A, font: $pec-color-text-dark),
		500: (base: #009688, font: $pec-color-text-dark),
		default: (base: #009688, font: $pec-color-text-dark),
		600: (base: #00897B, font: $pec-color-text-dark),
		700: (base: #00796B, font: $pec-color-text-dark),
		800: (base: #00695C, font: $pec-color-text-dark),
		900: (base: #004D40, font: $pec-color-text-dark),
		A100: (base: #A7FFEB, font: $pec-color-text-dark),
		A200: (base: #64FFDA, font: $pec-color-text-dark),
		A400: (base: #1DE9B6, font: $pec-color-text-dark),
		A700: (base: #00BFA5, font: $pec-color-text-dark)
	),
	green: (
		50: (base: #E8F5E9, font: $pec-color-text-dark),
		100: (base: #C8E6C9, font: $pec-color-text-dark),
		200: (base: #A5D6A7, font: $pec-color-text-dark),
		300: (base: #81C784, font: $pec-color-text-dark),
		400: (base: #66BB6A, font: $pec-color-text-dark),
		500: (base: #4CAF50, font: $pec-color-text-dark),
		default: (base: #4CAF50, font: $pec-color-text-dark),
		600: (base: #43A047, font: $pec-color-text-dark),
		700: (base: #388E3C, font: $pec-color-text-dark),
		800: (base: #2E7D32, font: $pec-color-text-dark),
		900: (base: #1B5E20, font: $pec-color-text-dark),
		A100: (base: #B9F6CA, font: $pec-color-text-dark),
		A200: (base: #69F0AE, font: $pec-color-text-dark),
		A400: (base: #00E676, font: $pec-color-text-dark),
		A700: (base: #00C853, font: $pec-color-text-dark)
	),
	light-green: (
		50: (base: #F1F8E9, font: $pec-color-text-dark),
		100: (base: #DCEDC8, font: $pec-color-text-dark),
		200: (base: #C5E1A5, font: $pec-color-text-dark),
		300: (base: #AED581, font: $pec-color-text-dark),
		400: (base: #9CCC65, font: $pec-color-text-dark),
		500: (base: #8BC34A, font: $pec-color-text-dark),
		default: (base: #8BC34A, font: $pec-color-text-dark),
		600: (base: #7CB342, font: $pec-color-text-dark),
		700: (base: #689F38, font: $pec-color-text-dark),
		800: (base: #558B2F, font: $pec-color-text-dark),
		900: (base: #33691E, font: $pec-color-text-dark),
		A100: (base: #CCFF90, font: $pec-color-text-dark),
		A200: (base: #B2FF59, font: $pec-color-text-dark),
		A400: (base: #76FF03, font: $pec-color-text-dark),
		A700: (base: #64DD17, font: $pec-color-text-dark)
	),
	lime: (
		50: (base: #F9FBE7, font: $pec-color-text-dark),
		100: (base: #F0F4C3, font: $pec-color-text-dark),
		200: (base: #E6EE9C, font: $pec-color-text-dark),
		300: (base: #DCE775, font: $pec-color-text-dark),
		400: (base: #D4E157, font: $pec-color-text-dark),
		500: (base: #CDDC39, font: $pec-color-text-dark),
		default: (base: #CDDC39, font: $pec-color-text-dark),
		600: (base: #C0CA33, font: $pec-color-text-dark),
		700: (base: #AFB42B, font: $pec-color-text-dark),
		800: (base: #9E9D24, font: $pec-color-text-dark),
		900: (base: #827717, font: $pec-color-text-dark),
		A100: (base: #F4FF81, font: $pec-color-text-dark),
		A200: (base: #EEFF41, font: $pec-color-text-dark),
		A400: (base: #C6FF00, font: $pec-color-text-dark),
		A700: (base: #AEEA00, font: $pec-color-text-dark)
	),
	yellow: (
		50: (base: #FFFDE7, font: $pec-color-text-dark),
		100: (base: #FFF9C4, font: $pec-color-text-dark),
		200: (base: #FFF59D, font: $pec-color-text-dark),
		300: (base: #FFF176, font: $pec-color-text-dark),
		400: (base: #FFEE58, font: $pec-color-text-dark),
		500: (base: #FFEB3B, font: $pec-color-text-dark),
		default: (base: #FFEB3B, font: $pec-color-text-dark),
		600: (base: #FDD835, font: $pec-color-text-dark),
		700: (base: #FBC02D, font: $pec-color-text-dark),
		800: (base: #F9A825, font: $pec-color-text-dark),
		900: (base: #F57F17, font: $pec-color-text-dark),
		A100: (base: #FFFF8D, font: $pec-color-text-dark),
		A200: (base: #FFFF00, font: $pec-color-text-dark),
		A400: (base: #FFEA00, font: $pec-color-text-dark),
		A700: (base: #FFD600, font: $pec-color-text-dark)
	),
	amber: (
		50: (base: #FFF8E1, font: $pec-color-text-dark),
		100: (base: #FFECB3, font: $pec-color-text-dark),
		200: (base: #FFE082, font: $pec-color-text-dark),
		300: (base: #FFD54F, font: $pec-color-text-dark),
		400: (base: #FFCA28, font: $pec-color-text-dark),
		500: (base: #FFC107, font: $pec-color-text-dark),
		default: (base: #FFC107, font: $pec-color-text-dark),
		600: (base: #FFB300, font: $pec-color-text-dark),
		700: (base: #FFA000, font: $pec-color-text-dark),
		800: (base: #FF8F00, font: $pec-color-text-dark),
		900: (base: #FF6F00, font: $pec-color-text-dark),
		A100: (base: #FFE57F, font: $pec-color-text-dark),
		A200: (base: #FFD740, font: $pec-color-text-dark),
		A400: (base: #FFC400, font: $pec-color-text-dark),
		A700: (base: #FFAB00, font: $pec-color-text-dark)
	),
	orange: (
		50: (base: #FFF3E0, font: $pec-color-text-dark),
		100: (base: #FFE0B2, font: $pec-color-text-dark),
		200: (base: #FFCC80, font: $pec-color-text-dark),
		300: (base: #FFB74D, font: $pec-color-text-dark),
		400: (base: #FFA726, font: $pec-color-text-dark),
		500: (base: #FF9800, font: $pec-color-text-dark),
		default: (base: #FF9800, font: $pec-color-text-dark),
		600: (base: #FB8C00, font: $pec-color-text-dark),
		700: (base: #F57C00, font: $pec-color-text-dark),
		800: (base: #EF6C00, font: $pec-color-text-dark),
		900: (base: #E65100, font: $pec-color-text-dark),
		A100: (base: #FFD180, font: $pec-color-text-dark),
		A200: (base: #FFAB40, font: $pec-color-text-dark),
		A400: (base: #FF9100, font: $pec-color-text-dark),
		A700: (base: #FF6D00, font: $pec-color-text-dark)
	),
	deep-orange: (
		50: (base: #FBE9E7, font: $pec-color-text-dark),
		100: (base: #FFCCBC, font: $pec-color-text-dark),
		200: (base: #FFAB91, font: $pec-color-text-dark),
		300: (base: #FF8A65, font: $pec-color-text-dark),
		400: (base: #FF7043, font: $pec-color-text-dark),
		500: (base: #FF5722, font: $pec-color-text-dark),
		default: (base: #FF5722, font: $pec-color-text-dark),
		600: (base: #F4511E, font: $pec-color-text-dark),
		700: (base: #E64A19, font: $pec-color-text-dark),
		800: (base: #D84315, font: $pec-color-text-dark),
		900: (base: #BF360C, font: $pec-color-text-dark),
		A100: (base: #FF9E80, font: $pec-color-text-dark),
		A200: (base: #FF6E40, font: $pec-color-text-dark),
		A400: (base: #FF3D00, font: $pec-color-text-dark),
		A700: (base: #DD2C00, font: $pec-color-text-dark)
	),
	brown: (
		50: (base: #EFEBE9, font: $pec-color-text-dark),
		100: (base: #D7CCC8, font: $pec-color-text-dark),
		200: (base: #BCAAA4, font: $pec-color-text-dark),
		300: (base: #A1887F, font: $pec-color-text-dark),
		400: (base: #8D6E63, font: $pec-color-text-dark),
		500: (base: #795548, font: $pec-color-text-dark),
		default: (base: #795548, font: $pec-color-text-dark),
		600: (base: #6D4C41, font: $pec-color-text-dark),
		700: (base: #5D4037, font: $pec-color-text-dark),
		800: (base: #4E342E, font: $pec-color-text-dark),
		900: (base: #3E2723, font: $pec-color-text-dark)
	),
	grey: (
		50: (base: #FAFAFA, font: $pec-color-text-dark),
		100: (base: #F5F5F5, font: $pec-color-text-dark),
		200: (base: #EEEEEE, font: $pec-color-text-dark),
		300: (base: #E0E0E0, font: $pec-color-text-dark),
		400: (base: #BDBDBD, font: $pec-color-text-dark),
		500: (base: #9E9E9E, font: $pec-color-text-dark),
		default: (base: #9E9E9E, font: $pec-color-text-dark),
		600: (base: #757575, font: $pec-color-text-dark),
		700: (base: #616161, font: $pec-color-text-dark),
		800: (base: #424242, font: $pec-color-text-dark),
		900: (base: #212121, font: $pec-color-text-dark),
	),
	blue-grey: (
		50: (base: #ECEFF1, font: $pec-color-text-dark),
		100: (base: #CFD8DC, font: $pec-color-text-dark),
		200: (base: #B0BEC5, font: $pec-color-text-dark),
		300: (base: #90A4AE, font: $pec-color-text-dark),
		400: (base: #78909C, font: $pec-color-text-dark),
		500: (base: #607D8B, font: $pec-color-text-dark),
		default: (base: #607D8B, font: $pec-color-text-dark),
		600: (base: #546E7A, font: $pec-color-text-dark),
		700: (base: #455A64, font: $pec-color-text-dark),
		800: (base: #37474F, font: $pec-color-text-dark),
		900: (base: #263238, font: $pec-color-text-dark)
	)
) !default;